$coef: 0.6;

.neb-input {
  //font-family: "Open Sans", sans-serif;

  border-radius: 0.25rem * $coef;
  font-weight: 400;
  line-height: 1.5rem * $coef;

  padding: 0.43rem * $coef 1.125rem * $coef;
  margin: 0.5rem * $coef;


  background-color: #f7f9fc;
  border-color: #edf1f7;
  border-style: solid;
  border-width: 1px;
  color: #192038;

  &:hover {
    border-color: #598bff;
  }

  &:focus {
    border-color: #274bdb;
    box-shadow: 0 0 0 0.375rem * $coef rgba(143, 155, 179, 0.16);
    outline: none;
  }
}