.mv-container {

  background-color: white;
  border-radius: 5px;

  padding: 10px 25px;
  scroll-padding-bottom: 10px;

  h3 {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .container-body  {
    margin-top: 10px;
  }
}

.fullwidth {
  width: 100%;
}